{% extends 'src/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Agents{% endblock title %}
{% block title_1 %}Agents{% endblock title_1 %}
{% block title_2 %}Home{% endblock title_2 %}
{% block url %}{% url 'src:index' %}{% endblock url %}

{% block body %}
    <div class="container-fluid"></div>
        <div align='center'>
            <h2>Create new Agent</h2>
            <div class="container d-flex h-100 row justify-content-center col-20">
                <form align='center' method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success my-2" type="submit" value="Create Agent">
                </form>
            </div>
        </div>
        <div id="agents">
            <h1 align="center" class="my-2">Agents present in Database</h1>
            <div class="row">
                {% for agent in agents %}
    
                <div class="card my-3 mx-5 col-sm-3">
                    <h3 class="card-header">{{ agent }}</h3>
                    <div class="card-body">

                        <h6 class="card-subtitle mb-2 text-muted">
                            Status : {% if agent.is_available  %}
                                        Available
                                    {% else %}
                                        Not Available
                                    {% endif %}
                            <br>
                        </h6>
                        <p class="card-text">
                            Role(s) :
                            {% for r in agent.roles.all %}
                                {{ r }},
                            {% endfor %}
                            <br>
                            Available Since : {{ agent.available_since }}
                        </p>
                        <a href="{% url 'src:edit_agent' agent.id %}" class="card-link btn btn-info">Edit</a>
                    </div>
                </div>

                {% empty %}
                <h3>No agents</h3>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}