{% extends 'src/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}
{% block title_1 %}Welcome{% endblock title_1 %}
{% block title_2 %}View agents{% endblock title_2 %}
{% block url %}{% url 'src:agents' %}{% endblock url %}

{% block body %}
    <div class="container-fluid">
        <div align='center'>
            <h2>Enter Issue details</h2>
            <div class="container d-flex h-100 row justify-content-center col-20">
                <form align='center' method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success my-3" type="submit" value="View Agents">
                </form>
            </div>
        </div>
        {% if agents %}
            <div id="issue" align="center" class="my-2">
                <h5>
                    Mode selected : {{ mode }}<br>
                    Role(s) :
                    {% for r in roles %}
                        {{ r }},
                    {% endfor %}
                </h5>
            </div>
            <br>
            <div id="agents" align="center" class="my-2">
                <h3>ID of agent(s) for the issue :</h3>
                {% if available %}
                <ul>
                    {% for a in agents %}
                        <li>
                            {{ a }}
                        </li>                      
                        {% empty %}
                        <h4>No agents available</h4>
                    {% endfor %}
                </ul>
                {% else %}
                <h4>{{ agents }}</h4>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock body %}