{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit Agent</title>
</head>
<body>
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Edit Agent</a>
        <a class="btn btn-warning" href="{% url 'src:agents' %}">Cancel</a>
    </nav>
    <div align='center' class="container-fluid">
        <h2>ID : {{ agent }}</h2>
        <div class="container d-flex h-100 row justify-content-center col-50">
            <form align="center" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-info my-3" type="submit" value="Update">
            </form>
        </div>
        <a href="{% url 'src:del_agent' agent.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this agent?')">Delete</a>
    </div>
</body>
</html>